
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap'); /* font-family: 'Passion One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');  /* font-family: 'Sriracha', cursive; */

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    background-color: lightgrey;
}
header{
    background-color: black;
    text-align: center;
    color: white;  
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
    
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a :hover{
    text-decoration: underline; 
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal{
    background-color: white;
    color: black;
}
.comfoto{
    background-color: rgb(66, 64, 64);
    color: white;
}
.comfoto p{
    background-color: rgba(100, 98, 98, 0.568);
    width: 250px;
    
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}